# The releng team is by default the owner of everything.
*             @eclipse-zenoh/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-zenoh/eclipsefdn-security @eclipse-zenoh/eclipsefdn-releng
